.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  //background-image: url("../img/scene.png");
  //background-repeat: no-repeat;
  //background-size: 100% auto;
  //background-position: center;
  //z-index: 2;
  //
  //@include retina {
  //  background-image: url("../img/scene@2x.png");
  //}
  //
  //@media (orientation: portrait) {
  //  background-image: url("../img/scene-mob.png");
  //
  //  @include retina {
  //    background-image: url("../img/scene-mob@2x.png");
  //  }
  //}
}



.animated-text {
  &__word {
    display: inline-flex;
    overflow: hidden;
  }

  &__letter {
    position: relative;
    display: inline-block;
    transform: translate3d(0,150%,0);
  }

  &.is-active &__letter {
    transform: translate3d(0,0,0);
  }

  &.intro__title {
    width: 100%;
    max-width: unset;
  }

  &.intro__title,
  &.intro__date,
  &.game__title,
  &.rules__title,
  &.prizes__title,
  &.slider__item-title {
    line-height: 1.3;
  }

  &.intro__date {
    line-height: 1.5;

    .animated-text__letter {
      padding-right: 2px;
    }
  }

}

.screen.active {

  .animated-text:not(.animated-text--has-delay) {
    .animated-text__letter {
      transform: translate3d(0,0,0);
    }
  }

}
