.screen--game.active {

  .form__field {
    width: calc(100% - 21rem);

    @media (max-width: $tablet) {
      width: calc(100% - 5rem);
    }
  }

  .form__button {
    opacity: 1;
  }
}


.form {
  position: relative;
  display: flex;
  align-items: center;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}

.form__field {
  position: absolute;
  right: 23rem;
  flex: none;
  padding: 0 5rem;
  height: 6rem;
  width: 0;
  text-transform: uppercase;
  font: inherit;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-dark;
  border: 0;
  border-radius: 3rem;
  outline: none;
  transition: width 0.5s ease-in-out 0.2s, padding $default-transition 0.2s;

  &:focus {
    border: 1px solid $c-purple;
  }

  @media (min-width: $stop-scaling) {
    margin-right: 30px;
    padding: 0 56px;
    height: 60px;
    width: calc(100% - 210px);
    font-size: 24px;
    border-radius: 30px;
  }

  @media (orientation: portrait) {
    margin-right: 1rem;
    padding: 0 2.5rem;
    //width: calc(100% - 5rem);
    height: 4rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) {
    right: 8rem;
    //width: calc(100% - 9rem);
  }

  @media (max-width: $mobile) {
    margin-right: 1rem;
    padding: 0 2.5rem;
    //width: calc(100% - 5rem);
    height: 4rem;
    font-size: 1.6rem;
    right: 4rem;
  }
}

.form__button {
  margin-left: auto;
  width: 21rem;
  opacity: 0;
  transition: opacity $default-transition 0.2s;
  //flex-grow: 1;

  @media (orientation: portrait) {
    position: relative;
    flex: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    flex: none;
    padding: 0;
    width: 6rem;
    height: 6rem;
    font-size: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
    }
  }
}

.form--result {
  .form__field {

    padding-left: 2rem;
    padding-right: 2rem;


    //@media (min-width: $stop-scaling) {
      //width: calc(100% - 310px);
    //}

    //@media (orientation: portrait) {
      //width: calc(100% - 5rem);
    //}

    //@media (max-width: $tablet) {
      //width: calc(100% - 9rem);
      //right: 8rem;
    //}

    //@media (max-width: $mobile) {
      //width: calc(100% - 5rem);
      //right: 4rem;
    //}
  }
}
