$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue: #a0ceff;
$c-dark-blue: #3e72ee;

$c-primary: $c-dark;
$c-secondary: $c-purple;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$default-transition: 0.3s ease;

body {
  &.theme--main {
    --primary-color: #{$c-purple};
    --secondary-color: #{$c-dark};
  }

  &.theme--purple {
    --primary-color: #{$c-dark};
    --secondary-color: #{$c-purple};
  }

  &.theme--blue {
    --primary-color: #{$c-blue};
    --secondary-color: #{$c-dark-blue};
  }

  &.theme--light-blue {
    --primary-color: #{$c-dark-blue};
    --secondary-color: #{$c-blue};
  }
}
